.divNavBar
    a.labdosNavBar(href="/") Labdos
    if usuario
        a#nombreProfesional #{usuario}
    .divNavBarInicioYRegistros
        a.inicioNavBar(href="/") Inicio
        //- a.registrosNavBar(href="/registrar/medico") Registros
        a.logout(href="/logout") Logout