html
    head
        title Página no encontrada 
        link(rel="stylesheet", href="/css/navYFooter.css")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    body(style="margin:0px") 
        -if(error500){
            div
                a.enlaceAInicio(href="http://localhost:3000") Volver a inicio
            div.divMensajeError500 
                p #{mensajeDeError500}
        -}else if(sinPermiso){
            script.
                document.addEventListener("DOMContentLoaded", () => {
                    Swal.fire({
                        icon: "warning",
                        title: "No tienes permisos para esta acción, redirigiendo....",
                        timer:1500
                    }).then(() => {
                            window.location.href = "http://localhost:3000";
                        }
                    )
                })
        -}else{
            div.body404
                a.enlaceAInicio(href="http://localhost:3000") Volver a inicio
        -}

