html
    head 
        title Labdos
        link(href="/css/navYFooter.css", rel="stylesheet")
        link(href="/css/formPrescribir.css", rel="stylesheet")
        link(href="/css/registrarMedico.css", rel="stylesheet")
        link(href="/css/registrarPaciente.css", rel="stylesheet")
        link(rel="stylesheet", href="/css/genericosForm.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        link(rel="icon", type="image/png" href="/images/iconoPaginaMedicina.png") 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body.bodyInicio
        //barra de navegacion:
        .navBar
            include includes/navbar.pug
        block content
        -if(esInicio){
            -if(inicio && administrador && profesional){
                .divCardBotones 
                    a.cardBotones(href="/registrar/medico") Registrar Medico 
                    a.cardBotones(href="/registrar/paciente") Registrar Paciente 
                    a.cardBotones(href="/prescribir") Prescribir
            -}else if(inicio && profesional){
                .divCardBotones 
                    //- a.cardBotones(href="/registrar/medico") Registrar Medico 
                    a.cardBotones(href="/registrar/paciente") Registrar Paciente 
                    a.cardBotones(href="/prescribir") Prescribir
            -}else if(inicio && administrador){
                .divCardBotones 
                    a.cardBotones(href="/registrar/medico") Registrar Medico 
                    a.cardBotones(href="/registrar/paciente") Registrar Paciente 
                    //- a.cardBotones(href="/prescribir") Prescribir
            -}else if(!inicio){
                script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") //- alertas sweet alerts
                script. 
                    //- if(usuario){
                    Swal.fire({
                        icon: "warning",
                        title: "#{mensaje}",
                        heightAuto: false,
                        confirmButtonText: "Loguearme"
                    }).then(() => {
                        window.location.href = "/login";
                    })
                    //- -}
            -}
        -}
        script.
            //hacemos esto para que si quiere volver para atras hacemos la peticion get nuevamente a la pagina inicio
            // por que si no el cartel de loguearme no aparecería nuevamente...
            window.addEventListener('pageshow', function(event){
                if(event.persisted){
                    window.location.reload();
                }
            });
        .footer
            include includes/footer.pug