html
    head 
        title Labdos
        link(href="/css/navYFooter.css", rel="stylesheet")
        link(href="/css/formPrescribir.css", rel="stylesheet")
        link(href="/css/registrarMedico.css", rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
    body.bodyInicio
        //barra de navegacion:
        .navBar
            include includes/navbar.pug
        block content
        //- div para ocupar lo que no ocupa el footer
        .div
        .footer
            include includes/footer.pug