extends inicio.pug
block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js")
    .divform#formulariosPrescribir
        h1.tituloH1 Prescripción
        .divFormularioYPrescripcionesAnteriores
            form.formularioPrescripcion(action="/prescribir", method="POST")
                .formDiagnostico
                    label Diagnostico 
                    textarea.textAreaDiagnostico(name="diagnostico", placeholder="Ingrese el diagnostico del paciente...", required, rows="5", cols="50", minlength="10")
                .labels
                    label Vigencia 
                    .divVigencia
                        label.labelDivVigencia(for="30dias") 30 días 
                        input.radioDivVigencia(type="radio", name="vigencia", id="30dias", value="30", checked) 
                    .divVigencia
                        label.labelDivVigencia(for="60dias") 60 días 
                        input.radioDivVigencia(type="radio", name="vigencia", id="60dias", value="60")
                .labels
                    label Paciente
                    a.tooltip(href="/registrar/paciente")
                        i.fa-solid.fa-user-plus
                            p.tooltiptext Registrar nuevo paciente
                    input.inputFormRegistro(name="idPaciente", required, id="selectPacientes", list="dataListPacientes", autocomplete="off")
                    datalist#dataListPacientes
                        -if(pacientes)
                            -for(let pac of pacientes){
                                option(value= `${pac.nombre} ${pac.apellido} DNI: ${pac.documento}`, data-value= pac.idPaciente)
                            -}
                    input(id="inputHiddenPacientes", hidden)
                .grid-container
                    .labels#divMedicamentos
                        .divLabelYBtnAgregarMedicamento
                            label Medicamento
                            button.tooltip#botonAgregarMedicamento(type="button", data-action="agregarMedicamento")
                                i.fa-solid.fa-circle-plus.botonAgregarMedicamento
                                p.tooltiptext Agregar Medicamento
                        .inputMedicamentoPrescribir
                            .divAutocompletadoMedicamento
                                input.classEnComunCSS#inputMedicamentoPrescripcion(type="text", placeholder="Ingrese el medicamento", autocomplete = "off")
                                input.idMedicamentoDetalleHidden(type="hidden", name="idMedicamentoDetalle", id="idMedicamentoDetalle") 
                                .autocompletadoMedicamentos
                            #divJustificacion.divJustificacion
                    .labels#divPrestaciones
                        .divLabelYBtnAgregarPrestacion
                            label Prestacion
                            button.tooltip#botonAgregarPrestacion(type="button", data-action="agregarPrestacion")
                                i.fa-solid.fa-circle-plus
                                    p.tooltiptext Agregar prestación
                        .inputPrestacionPrescribir
                            .divAutocompletadoPrestacion
                                input.classEnComunCSS#inputPrestacionPrescripcion(type="text", placeholder="Ingrese la prestación", autocomplete = "off")    
                                input.idPrestacionHidden(type="hidden", name="idPrestacion", id="idPrestacion")
                                .autocompletadoPrestaciones
                            #divJustificacionPrestacion.divJustificacion
                .divBotones
                    input.botones(type="submit", value="Prescribir", id="botonPrescribir")
            div#prescripcionesAnterioresPaciente
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="js/prescribir/prescribirScript.js", type="module")