extends inicio.pug 
block content
    .divform
        h1.tituloH1 Registrar Paciente
        form.formulario(action="/registrar/paciente", method="POST")
            .labels 
                label(for="nombre") Nombre 
                input.inputFormRegistro(type="text", required, name="nombre", id="nombre", autocomplete="off") 
            .labels 
                label(for="apellido") Apellido 
                input.inputFormRegistro(type="text", required, name="apellido",  id="apellido", autocomplete="off")
            .labels 
                label(for="documento") Documento 
                input.inputFormRegistro(type="number", required, name="documento",  id="documento", autocomplete="off")
            .labels 
                label(for="fechaNacimiento") Fecha de nacimiento 
                input.inputFormRegistro(type="date", required, name="fechaNacimiento",  id="fechaNacimiento", autocomplete="off")
            .labels
                label(for="selectSexo") Sexo
                select.inputFormRegistro(name="sexo", id="selectSexo", required)
                    option(value="", disabled, selected, hidden) Seleccione una opción 
                    option(value="femenino") Femenino 
                    option(value="masculino") Masculino 
                    option(value="otro") Otro 
                    option(value="desconocido") Desconocido 
            .labels
                label(for="selectObraSocial") Obra social 
                select.inputFormRegistro(name="obraSocial", id="selectObraSocial", required)
                    -if(obraSocial){
                        option(value="", disabled, selected, hidden) Seleccione una obra social 
                        -for(let os of obraSocial){
                            option(value= os.idObraSocial) #{os.nombre}
                        -}
                    -}else{
                        option(value="", disabled) no existen obras sociales
                    -}
            .labels
                label(for="selectPlan") Plan
                select.inputFormRegistro(name="plan", id="selectPlan", disabled, required)
                        option(value="", selected, disabled) Debe seleccionar una Obra Social primero
            .divBotones
                input.botones(type="submit", value="Registrar")
    script(type="module", src="/js/registrarPaciente.js")