extends inicio.pug
block content
    script(type="module", src="/js/crudMedicos.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    .divsRegistrarMedico
        .divformRegistrarMedico#registroMedico
            h1.h1RegistrarMedico Registrar Médico
            form.formulariosRegistrarMedico(action="/registrar/medico", method="POST")
                .labels 
                    label(for="nombre") Nombre 
                    input.inputFormRegistro(type="text", required, name="nombre", id="nombre", autocomplete="off") 
                .labels 
                    label(for="apellido") Apellido 
                    input.inputFormRegistro(type="text", required, name="apellido",  id="apellido", autocomplete="off")
                .labels 
                    label(for="documento") Documento 
                    input.inputFormRegistro(type="text", required, name="documento",  id="documento", autocomplete="off")
                .labels 
                    label(for="idProfesion") Profesion 
                    select.inputFormRegistro(name="idProfesion", id="idProfesion")
                        option(value="", selected, disabled, hidden) Seleccione una profesión
                        -if(profesiones){
                            -for(let p of profesiones){
                                option(value= p.id) #{p.nombre} 
                            -}
                        -}else{
                            option(value="") No existen profesiones disponibles
                        -}
                .labelsEspecialidad
                    label Especialidad
                    .secionEspecialidad
                        .selectEspecialidad
                            select.selectEsp(name="especialidad") 
                                -if(!especialidades){
                                    option(disabled, hidden, selected) No existen especialidades
                                -}else{
                                    option(disabled, hidden, selected) Seleccione una opción 
                                -}
                            .overSelect
                        .checkBoxEspecialidad
                            -if(especialidades){
                                -for(let e of especialidades){
                                    label(for= e.id) #{e.nombre}
                                        input.especialidades(type="checkbox", value= e.id, id= e.id, name="especialidades") 
                                -}
                            -}
                .labels
                    label(for="domicilio") Domicilio
                    input.inputFormRegistro(type="text", required, name="domicilio", placeholder="calle/altura/ciudad/provincia",  id="domicilio", autocomplete="off") 
                .labels
                    label(for="matricula") Matricula
                    input.inputFormRegistro(type="text", required, name="matricula",  id="matricula", autocomplete="off")
                .labels 
                    label(for="idRefeps") REFEPS 
                    input.inputFormRegistro(type="text", required, name="idRefeps", id="idRefeps", autocomplete="off")
                .labels
                    label(for="usuario") Usuario
                    input.input(type="text", readonly, name="usuario", required, id="usuario")  
                .labels
                    label(for="password") Password 
                    input.input(type="text", readonly, name="password", required, id="password")  
                .divBotones
                    input.botones(type="button", value="Registrar", id="botonRegistrarMedico")
                    input.botones(type="button", value="Guardar Cambios", id="botonGuardarCambiosUpdateMedico", style="display:none")
                    input.botones(type="button", value="Cancelar", id="botonCancelarUpdateMedico", style="display:none")
        .divformRegistrarMedico#busquedaMedico
            h1.h1RegistrarMedico Buscar Profesionales Por DNI o REFEPS
            .formularioBuscarProfesionales 
                .divLabelsInputs
                    .labelEinputBuscarProfesionales
                        label(for="inputBuscarProfesionalesByDNI") Ingrese el DNI
                        input(type="number", id="inputBuscarProfesionalesByDNI")
                    .labelEinputBuscarProfesionales
                        label(for="inputBuscarProfesionalesByREFEPS") Ingrese el REFEPS
                        input(type="number", id="inputBuscarProfesionalesByREFEPS")
                .profesionales
                    ul.listaMedicos