.formDiagnostico{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.textAreaDiagnostico{
    margin-top: 10px;
    resize: none;
}

.divVigencia{
    display: flex; 
}

.labelDivVigencia{
    font-size: 15px;  
}

.autocompletadoMedicamentos, .autocompletadoPrestaciones{
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    font-size: 15px;
}
.autocompletadoMedicamentos div, .autocompletadoPrestaciones div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
.autocompletadoMedicamentos div:hover, .autocompletadoPrestaciones div:hover {
    background-color: #e9e9e9;
}
#inputMedicamentoPrescripcion, #inputPrestacionPrescripcion{
    width: 100%;
    padding: 5px;
    border-radius: 5px;   
}
.inputMedicamentoPrescribir, .inputPrestacionPrescribir{
    width: 60%;
    position: relative;
}
.autocompletadoMedicamentos::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.autocompletadoPrestaciones ul{
    padding: 0px 15px;
    list-style-type: none;
}

#botonPrescribir:disabled{
    background-color: #6a6a6a;
    color: #CCC;
}
#botonPrescribir:disabled:hover{
    background-color: #6a6a6a;
    color: #CCC;
    cursor: default;
}


/* SECCION PRESCRIPCIONES ANTERIORES DE X PACIENTE*/

.divFormularioYPrescripcionesAnteriores{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 555px;
    margin: 20px;
}

.tituloPrescripcionesAnteriores{
    font-size: 25px;
    /* color: #2C3E50; */
    text-align: center;
}

#prescripcionesAnterioresPaciente{
    display: flex;
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    width: 700px;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.pPrescripcionesAnteriores{
    margin: 0px 25px 10px 25px;    
}

.pPrescripcionesAnteriores ul{
    border: 2px solid black;
    border-radius: 15px;
    padding: 22px 45px;
}

.pPrescripcionesAnteriores li{
    list-style-type: square;
}

.botonAniadirResultado{
    margin-top: 10px;
}

.formularioPrescripcion{
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    margin: 0px 20px 20px 20px;
    height: 100%;
}

.textAreaResultadoObservacion{
    resize: none;
}

.divAniadirResultado{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

