.formDiagnostico{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.textAreaDiagnostico{
    margin-top: 10px;
    resize: none;
}

.divVigencia{
    display: flex; 
}

.labelDivVigencia{
    width: 85px;
}

.radioDivVigencia{
    width: 18px;
}

.autocompletadoMedicamentos, .autocompletadoPrestaciones{
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    /* width: 100%; */
    font-size: 15px;
}
.autocompletadoMedicamentos div, .autocompletadoPrestaciones div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
.autocompletadoMedicamentos div:hover, .autocompletadoPrestaciones div:hover {
    background-color: #e9e9e9;
}
.classEnComunCSS{    
    width: 100%;
    padding: 5px;
    border-radius: 5px;   
}
.inputMedicamentoPrescribir, .inputPrestacionPrescribir{
    width: 100%;
}
.autocompletadoMedicamentos::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.autocompletadoPrestaciones ul{
    padding: 0px 15px;
    list-style-type: none;
}

#botonPrescribir:disabled{
    background-color: #6a6a6a;
    color: #CCC;
}
#botonPrescribir:disabled:hover{
    background-color: #6a6a6a;
    color: #CCC;
    cursor: default;
}

/*SECCIÓN BOTON AGREGAR MEDICAMENTO*/



#divMedicamentos, #divPrestaciones{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    padding: 15px 5px;
    background-color: #7e8295;
}

.divLabelYBtnAgregarMedicamento, .divLabelYBtnAgregarPrestacion{
    display: flex;
    justify-content: space-between; 
}

/* SECCION PRESCRIPCIONES ANTERIORES DE X PACIENTE*/

.divFormularioYPrescripcionesAnteriores{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    margin: 20px;
    width: 100%;
}

.tituloPrescripcionesAnteriores{
    font-size: 25px;
    /* color: #2C3E50; */
    text-align: center;
}

#prescripcionesAnterioresPaciente{
    display: flex;
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    flex-direction: column;
    overflow-y: auto;
    height: 575px;
    width: 70%;
    margin: 0px 10px 0px 10px;
}

.pPrescripcionesAnteriores{
    margin: 0px 25px 10px 25px;    
}

.pPrescripcionesAnteriores ul{
    border: 2px solid black;
    border-radius: 15px;
    padding: 22px 45px;
}

.pPrescripcionesAnteriores li{
    list-style-type: square;
}

.botonAniadirResultado{
    margin-top: 10px;
}

.formularioPrescripcion{
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    margin: 0px 10px 0px 10px;
    height: 100%;
    width: 100%;
}

.textAreaResultadoObservacion{
    resize: none;
}

.divAniadirResultado{
    /* display: flex;
    flex-direction: column-reverse;
    align-items: flex-start; */
    /* margin-right: 10px; */
}

.divAniadirResultado button{
    margin: 5px 5px 0px 0px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.divAniadirResultado button:hover{
    cursor: pointer;
}

.grid-container {
    display: flex;
    flex-direction: column;
    /* gap: 20px;  */
}

/* Parte de justificacion en cada medicamento */

.divJustificacion{
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.divDosis input, .divIntervalo input, .divDuracion input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}


/* PARTE BOTON ELIMINAR MEDICAMENTO */
.inputYBotonEliminarMedicamento, .inputYBotonEliminarPrestacion{
    display: flex;
    gap: 10px;
}
.eliminarMedicamento, .eliminarPrestacion, .editarMedicamento, .editarPrestacion, #botonAgregarMedicamento, #botonAgregarPrestacion{
    /* background-color: none; */
    border: none;
    cursor: pointer;
    background-color: #7e8295;
    font-size: larger;
}

.divResultadoPrestacion li{
    list-style-type: armenian;
}