.divsRegistrarMedico{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    /* height: 100%; Define la altura del contenedor */
}

.listaMedicos{
    font-size: 20px;
}

.listaMedicos p{
    background-color: #7baddf;
    padding: 10px;
}

.listaMedicos li{
    display: flex;
}

.listaMedicos .tooltip{
    background-color: #ccc;
    border: none;
    font-size: 20px;
}

.divFormRegistrarMedico{
    display: flex;
    flex-direction: column;
    /* margin: 10px 20px; */
    border: 1px solid #ccc;
    /* width: auto; */
    align-items: center;
    /* justify-content: center; */
}

#registroMedico{
    flex: 0 0 40%;
}

#busquedaMedico{
    flex: 0 0 60%;
}


.formulariosRegistrarMedico, .formularioBuscarProfesionales{
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    height: 100%;
    width: 98%;
    margin: 0px 0px 15px 0px;
}

.formularioBuscarProfesionales{
    display: flex;
    flex-direction: column;
}

.divLabelsInputs{
    display: flex;
}

.h1RegistrarMedico{
    color: aliceblue;
    margin: 10px;
    font-size: x-large;
}

.labelEinputBuscarProfesionales{
    margin: 10px 20px;
}

/* SECCION SELECT ESPECIALIDADES */
.selectEspecialidad{
    position: relative;
}

.secionEspecialidad{
    width: 60%;
}
.selectEspecialidad select{
    width: 100%;    
    /* width: 60%; */
    border: 1px solid #9a9a9a;
    padding: 5px;
    border-radius: 5px;
}

.labelsEspecialidad{
    display: flex;
    margin: 20px 30px;
    /* align-items: center; */
    justify-content: space-between;
}

.overSelect{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.checkBoxEspecialidad{
    display: none;
    border: 1px solid black;
    background-color: white;
}
.checkBoxEspecialidad label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: medium;
}

.checkBoxEspecialidad label:hover{
    background-color: #ccc;
}