.divsRegistrarMedico, .divsRegistrarPaciente, .divRegistrarMedicamentos{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
    
.divFormRegistrarPaciente{
    height: 620px;
}

.divRegistrarMedicamentos{
    height: 520px;
}

.divsRegistrarMedico{
    height: 700px
}

.listaMedicos, .listaPacientes, .listaMedicamentos, .listaPrestaciones{
    font-size: 20px;
}

.listaMedicos p, .listaPacientes p, .listaPrestaciones p{
    background-color: #7baddf;
    width: 85%;
    padding: 10px 5px;
    border-radius: 5px;
}

.listaMedicos li, .listaPacientes li, .listaMedicamentos li{
    display: flex;
}

.listaMedicos .tooltip, .listaPacientes .tooltip, .listaMedicamentos .tooltip, .listaPrestaciones .tooltip{
    background-color: #ccc;
    border: none;
    font-size: 20px;
}

.divFormRegistrarMedico, .divFormRegistrarPaciente, .divRegistroMedicamentos{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    align-items: center;
}

#registroMedico, #registroPaciente, #registroMedicamento{
    flex: 0 0 35%;
}


.formularioBuscarPaciente, .formularioBuscarProfesionales, .formularioBuscarMedicamento{
    overflow-y: auto;
    max-height: 100%;
    flex-grow: 1;
    overflow-x: hidden
}

#busquedaMedico, #busquedaPaciente, #busquedaMedicamentos{
    flex: 0 0 65%;
}


.formulariosRegistrarMedico, .formularioBuscarProfesionales, .formularioRegistrarPaciente, .formularioBuscarPaciente, .formularioRegistrarMedicamento, .formularioBuscarMedicamento{
    background-color: #CCC;
    font-size: 20px;
    border-radius: 15px;
    height: 100%;
    width: 98%;
    margin: 0px 0px 15px 0px;
}

.formularioBuscarProfesionales, .formularioBuscarPaciente, .formularioBuscarMedicamento{
    display: flex;
    flex-direction: column;
}

.divLabelsInputs{
    display: flex;
    justify-content: space-around;
}

.h1RegistrarMedico, .h1RegistrarPaciente, .h1RegistrarMedicamento{
    color: aliceblue;
    margin: 10px;
    font-size: x-large;
}

.labelEinputBuscarProfesionales, .labelEinputBuscarPacientes, .labelEinputBuscarMedicamentos{
    margin-top: 15px;
}

.labelEinputBuscarProfesionales input, .labelEinputBuscarPacientes input{
    border: 1px solid #9a9a9a;
    padding: 5px;
    border-radius: 5px;
    margin-left: 4px;
}

/* SECCION SELECT ESPECIALIDADES */
.selectEspecialidad, .selectPlan{
    position: relative;
}
/* #selectPrestaciones{
    position: sticky;
} */

.secionEspecialidad, .seccionPlan{
    width: 60%;
}
.selectEspecialidad select, .selectPlan select{
    width: 100%;    
    border: 1px solid #9a9a9a;
    padding: 5px;
    border-radius: 5px;
}

.labelsEspecialidad, .labelsPlan{
    display: flex;
    margin: 20px 30px;
    justify-content: space-between;
}

.overSelect{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.checkBoxEspecialidad, .checkboxPlan{
    display: none;
    border: 1px solid black;
    background-color: white;
}
.checkBoxEspecialidad label, .checkboxPlan label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: medium;
}

.checkBoxEspecialidad label:hover, .checkboxPlan label:hover{
    background-color: #ccc;
}